{% extends 'home/base.html' %}
{% block title %}Trang Chủ{% endblock %}
{% block content %}
    <div class="block">
        <h2>MOVIES</h2>
        <div class="content">
            {% for item in post %}
                {% if item.theloai == "Movies" %}
                    <a href="{{ item.link }}" class="anh">
                        <img src="{{ item.photo.url }}" alt item="{{item.ten }}">
                        <h5>{{item.ten }}</h5>
                    </a>

                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="block">
        <h2>MUSIC</h2>
        <div class="content">
            {% for item in post %}
                {% if item.theloai == "Music" %}
                    <a href="{{ item.link }}" class="anh">
                        <img src="{{ item.photo.url }}" alt="{{ item.ten }}">
                        <h5>{{item.ten }}</h5>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="block">
        <h2>MOVIES GAMES</h2>
        <div class="content">
            {% for item in post %}
                {% if item.theloai == "Game" %}
                    <a href="{{ item.link }}" class="anh">
                        <img src="{{ item.photo.url }}" alt="{{ item.ten }}">
                        <h5>{{item.ten }}</h5>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}