* {
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    background-color: #081b27;
    display: grid;
    grid-template:70px 200px 1fr/1fr;
}

i {
    font-size: 120%;
}

.menu {
    background-color: #0c2738;
    margin: 0 auto;
    border-bottom: 1px solid #000000;
    box-shadow: 0 0 3px #3d5f66;
}

div ul li {
    list-style: none;
    float: left;
    padding-top: 10px;
    margin-right: 70px;
    font-size: 15px;
    font-weight: bold;
}

ul li {
    padding: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}


.slide {
    width: 50%;

    padding-top: 20px;
    margin: 50px auto;
}

.slide img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px #585454;
    height: 200px;
    margin: 0 auto;
}

.center {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
}

h2 {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 150%;
    color: #efa003;
}

.block {
    margin-top: 60px;
}

.content {
    padding: 10px;
    height: auto;
    display: grid;
    grid-template:1fr/repeat(4, 200px);
    grid-gap: 20px;
    margin: 20px auto;
}

.anh {
    margin-left: 0;
}

.anh img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #5d5959;

}



